.btn-submit {
    margin: 20px 0;
    background-size: 200% auto;
    // background-image: linear-gradient(to right, #005bea 0%, #005bea 50%, #00c6fb 100%);
    background-image: linear-gradient(to right, #005bea 0%, #00c6fb 50%,#005bea 100%);
    border: none;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    font-size: 15px;
    font-weight: 600;
    color: white;
    line-height: 1.2;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    transition: .5s;
    

    &:hover {
      background-position: right center;
    } 

}

